.codex-btn {
    width: 100%;
    padding: 0.8rem;
    background-color: #5a4229;
    border: none;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.codex-btn:hover {
    background-color: #7E1C1E;
    border-color: transparent;
}