@use "../abstracts/variables" as variable;


header {
    display: flex;
    justify-content: center;
    background-color: variable.$color-darkred;
    font-size: 1.5rem;

    #container {
        padding: 1rem 0rem;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-container {
            width: 10%;
        }
        .nav-list {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            width: 50%;

            a {
                padding-right: 0.5rem;
                border-bottom: 3px solid transparent;
                border-bottom-right-radius: 1rem;
                color: variable.$color-golden;
                transition: all 0.2s ease-in-out;
            }
            a:hover {
                border-color:#7E1C1E;
            }
        }
    }
}