@use "../abstracts/variables" as variable;

#readAll {
    .book-open {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9rem;
        font-family: variable.$font-form;

        .book-open-container {
            width: 100%;
            height: 150vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            background-image: url(./../img/book-open.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .codex-container {
                width: 75%;
                display: flex;
                justify-content: space-between;
                gap: 6rem;
                .codex {
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                    width: 100%;
                    a {
                        border-bottom: 2px solid transparent;
                        color: black;
                    }
                    a:hover {
                        border-color: #7E1C1E;
                        padding-right: 1rem;
                        border-bottom-right-radius: 2.5rem;
                    }
                    
                    .container-title {
                        width: 80%;
                        display: flex;
                        justify-content: flex-start;

                        h2 {
                            padding-right: 1rem;
                            margin-bottom: 0;
                            color: #7E1C1E;
                            border-bottom: 1px solid #7E1C1E;
                            border-bottom-right-radius: 2.5rem;
                        }
                    }

                    .spacing {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 0.3rem;

                        li {
                            width: 45%;
                        }
                    }

                    .codex-btn {
                        text-align: center;
                        font-family: inherit;
                    }
                }
            }
        }
    }
}